/* Write your CSS here */
.icon {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}
.card-item {
  display: flex;
  align-items: center;
}
.card-img {
  height: 150px;
  width: 150px;
}
.card-heading {
  font-size: 20px;
  color: #e73959;
}
p {
  font-weight: 500;
}
.card {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  background-color: #f8f8ff;
  border-radius: 5px;
  padding: 15px;
  width: 25vw;
  text-align: left;
}
